.datatableTitle1{
    display: grid;
    place-items: left;
    height: 100px;
    font-size: 1.5rem;
    color: rgb(56, 100, 148);
    font-weight: 500;
    font-family: 'Mochiy Pop P one', sans-serif;
  }

  #elgrid {
    height: 400px;
    margin: 4.8%;
    padding: 3.4%;
  }
